<h1>Olá mundo!</h1>
<p><b> Esse é meu primeiro site, um projeto da disciplina de Algoritmos de Automação e projeto final da primeira etapa 
  do curso Master em Jornalismo de Dados Automação e Storytelling do Insper</b>!</p>

<a href="/raspador_noticias"> Raspador de Notícias sobre Transparência Pública e LAI </a>


{% extends 'base.html' %}

{% block titulo %}Página inicial{% endblock %}
{% block conteudo %}
<a href="/sobre">Sobre esse site</a> </a> 
<p>
  Aprendiz, Jamile Santana </b>!
</p>
{% endblock %}

